body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #254252;
}
#title {
  font-size: 20px;
  background-color: #C5630C;
  border-radius: 50px;
  padding: 15px, 15px, 15px, 15px;
}


.img {
  width: 100px;
  height: auto;
}

#title {
  color: #F0EFED;
}


#result {
  display: none;
}